ul {
    list-style: none;
    margin: 0px;
    padding: 60px 0px;
    text-align: center;
  }
  li {
    color: white;
  }
  .li1 {
    background-color: #ffc562;
  }
  .li2 {
    background-color: #a0c3f7;
  }
  .li3 {
    background-color: #ff8db3;
  }
  .li4 {
    background-color: #88e7ce;
  }
  
  .flex-list {
    display: flex;
  }
  .flex-list img{
    flex: 1;
    padding: 10px 0;
    display: flex;
    margin: 0 auto;
  }
  .flex-list li {
    flex: auto;
  }
  
  /* Tata letak untuk Tablet */
  @media screen and (max-width: 1000px) {
    .flex-list {
      flex-wrap: wrap;
    }
    .flex-list img{
        padding: 10px 0;
        flex: 1;
        display: flex;
        margin: 0 auto;
      }
    .flex-list li {
      width: 50%;
    }
  }
  
  /* Tata letak untuk Smartphone */
  /* Tetapkan lebar breakpoint ke 670px dan di bawahnya ke media query */
  @media screen and (max-width: 670px) {
    /* Tetapkan flex-direction milik .flex-list */
    .flex-list{
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
    }
    .flex-list img{
        flex: 1;
        padding: 10px 0;
        display: flex;
        margin: 0 auto;
      }
    /* Tetapkan margin dari .flex-list li ke 0 auto */
    .flex-list li{
      flex: auto;
      width: 50%;
      margin: 0 auto;
    }
  
  }
  